/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */




/*----------------Desktop Styles-----------------------*/

html{
  scroll-behavior: smooth;
}

body{
  background: rgb(241,241,241);
  background: linear-gradient(0deg, rgba(241,241,241,1) 0%, rgba(194,194,194,1) 100%);
  font-family:'Roboto', sans-serif;
  color:#414042;
}

a{
  text-decoration:none;
  color:#414042
}

a:hover{
  text-decoration:none;
  color:#414042
}

nav{
  display:flex;
  align-items: baseline;
  position: fixed;
  z-index:10;
  background:rgba(200,200,200,1);
  width:100%;
}

nav img{
  display:inline-block;
  width:110px;
  margin:20px -20px 0 20px;
}

nav ul {
    list-style-type: none;
    display: inline-block;
    margin-top: 0px;
    transform: translateY(-10px);
}

nav li {
    display: inline-block;
    margin: 0px 40px 0px;
    position:relative;
}

nav li:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #414042;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav li:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.container{
  width:80%;
  margin:0 auto;
  z-index:5;
}

.container.footer{
  width:100%!important;
}

/*-----Landing Page-----*/

/*--Intro Section--*/

.intro{
  text-align:center;
  padding:40vh 0 20vh;
}

.intro p{
  font-size:32px;
}

.intro a{
  font-size: 28px;
  display: block;
  border: 2px solid #febe12;
  border-radius: 3px;
  padding: 10px 0px;
  width: 15%;
  margin: 0 auto;
  transition: background .5s ease;
}

.intro a:hover{
  background-color:#febe12;
}

a#about{
  border:0;
  padding:0;
  width:0;
}

/*--About Section--*/

.about-row{
  padding:10vh 0;
  align-content:center;
}

.about-row p{
  font-size: 18px;
  line-height: 1.8;
  width: 80%;
}

.about-row img{
  height:25%;
}

/*---Portfolio Row---*/

.portfolio-row{
  padding:10vh 0;
}

.portfolio-text{
  margin-bottom:40px;
}

/*---Resume Row---*/

.resume-row{
  margin-bottom:60px;
}

.resume-row h2{
  margin-bottom:60px;
}

.resume-row iframe{
  margin-left:10%

}

/*---Contact Row---*/

footer{
  background-color:#676767;
  color:#fff;
  min-height:400px;
  padding:50px 0;
}

.contact-row{
  width:80%;
  margin:0 auto;
  text-align:center;
}

.contact-row a{
  color:#fff;
}

.contact-row .contact-column{
  margin-top:30px;
}

footer .material-icons{
  font-size:74px;
  margin-top:15px;
  margin-bottom:0;
  transition: margin .5s ease;
  display:block;
}

footer a:hover .material-icons{
  font-size:74px;
  margin-top:0px;
  margin-bottom:15px;
}

footer img{
  max-width:50px;
  margin-top:35px;
  margin-bottom:10px;
  transition: margin .5s ease;
}

footer a:hover img{
  margin-top:15px;
  margin-bottom:30px;
}

/*-------------Mobile Styles---------------*/

@media (max-width:767px){

  nav li{
    display:block;
  }

  .intro {
      padding: 50vh 0 20vh;
  }

  .intro p{
    font-size: 22px;
  }

  .intro a{
    font-size: 22px;
    padding: 7px 0px;
    width: 60%;
  }

  .about-row h2{
    margin-top:20px;
  }

  .about-row p{
    width:100%;
  }

  .scene{
    width:100%;
  }

  .resume-row iframe{
    height:100px;
  }


}


 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
